FORMAT: 1A
HOST: https://fitgroup.com.br/fitgroup_tickets/api/v1/

# Fitgroup Tickets - Manual API

Esta documentação detalha os endpoints disponíveis na API do sistema de atendimento Fitgroup via tickets.

## Postman
Recomendamos que as requisições apresentadas nessa documentação sejam testadas previamente através do [Postman](https://www.postman.com/downloads/), ou outro software equivalente para execução de requisições como o [Insomnia](https://insomnia.rest/download).
A coleção do Postman com todos os endpoints aqui documentados pode ser baixada livremente através do botão abaixo:

[![Run in Postman](https://run.pstmn.io/button.svg)](https://god.gw.postman.com/run-collection/18837025-34183c23-2b1e-4cf1-a3c5-db62dae4dd69?action=collection%2Ffork&collection-url=entityId%3D18837025-34183c23-2b1e-4cf1-a3c5-db62dae4dd69%26entityType%3Dcollection%26workspaceId%3D1d640920-b245-4f6d-87f8-a0dccda2f7f3)

## Autenticação

A autenticação é feita através do fornecimento da sua API Key. Ela deve ser transmitida em todas as requisições no
header `access_token`. Caso a API Key seja inválida ou não seja informada, o API retornará `HTTP 401`.

## Códigos HTTP das respostas

A API utiliza respostas HTTP convencionais para indicar sucesso ou falha nas requisições.
Respostas com status 200 indicam sucesso, status 4xx indicam falhas decorrentes de erros nas informações enviadas,
e status 500 indicam erros internos no servidor do Asaas.

| Código HTTP | Descrição |
|---|---|
| **200** OK | Sua requisição foi bem sucedida. |
| **400** Bad Request | Algum parâmetro obrigatório não foi enviado ou é inválido. Neste caso a própria resposta indicará qual é o problema. |
| **401** Unauthorized | Não foi enviada API Key ou ela é inválida. |
| **404** Not Found | O endpoint ou o objeto solicitado não existe. |
| **500** Internal Server Error | Algo deu errado no servidor do Asaas. |

Todos os endpoints da API recebem e respondem em JSON.

##### Exemplo de resposta para HTTP 400:
```
{
    "errors":[
        {
            "code":"invalid_date",
            "description":"Informe uma data válida"
        },
        {
            "code":"invalid_name",
            "description":"O campo name deve ser enviado"
        }
    ]
}
```

#### Retornando HTTP 200
Para que se considere a notificação como processada com sucesso, o status HTTP da resposta deve ser `200`.

# CLIENTES
## Recuperar dados de um cliente [GET /clientes/client_info.php]

Para recuperar um cliente específico é necessário que você tenha o seu ID.

+ Parameters
    + id - Identificador único do cliente

+ Request (application/json)

    + Headers
        access_token: sua_api_key


+ Response 200 (application/json)


    + Body

            {
                "object": "cliente",
                "id": "1",
                "name": "Academia Teste",
                "companyName": "Dill Fitness Ltda",
                "email": "academia.teste@gmail.com",
                "mobilePhone": "31971636968",
                "phone": "3141018508",
                "address": "Av. Paulista",
                "addressNumber": "150",
                "complement": "Sala 201",
                "province": "Centro",
                "city": "São Paulo",
                "state": "SP",
                "postalCode": "01310000",
                "country": "Brasil",
                "observations": "ótimo pagador, nenhum problema até o momento"
            }

### Listar clientes [GET /clientes/clientes_list.php{?name,company_name,email,city,state}]
Diferente da recuperação de um cliente específico, este método retorna
uma lista com todos os clientes para os filtros informados.

Filtrar por nome: `GET https://fitgroup.com.br/fitgroup_tickets/api/v1/clientes?name=Academia`

Filtrar por email: `GET https://fitgroup.com.br/fitgroup_tickets/api/v1/clientes?name=acadeteste@gmail.com`

+ Parameters
    + name (optional) - Filtrar por nome
    + email (optional) - Filtrar por email
    + city (optional) - Filtrar por cidade
    + state (optional) - Filtrar por estado
    + contact (optional) - Filtrar por pessoa de contato

+ Request

    + Headers
        access_token: sua_api_key

+ Response 200 (application/json)

        {
            "object": "clientes_list",
            "totalCount": 50,
            "data": [
                {
                "object": "cliente",
                "id": "1",
                "name": "Academia Teste",
                "companyName": "Dill Fitness Ltda",
                "email": "academia.teste@gmail.com",
                "mobilePhone": "31971636968",
                "phone": "3141018508",
                "address": "Av. Paulista",
                "addressNumber": "150",
                "complement": "Sala 201",
                "province": "Centro",
                "city": "São Paulo",
                "state": "SP",
                "postalCode": "01310000",
                "country": "Brasil",
                "observations": "ótimo pagador, nenhum problema até o momento"
                },
                {
                "object": "cliente",
                "id": "1005",
                "name": "Nados Fitness",
                "companyName": "MKL Atividades Fisicas Ltda",
                "email": "nadosfit@gmail.com",
                "mobilePhone": "31992064254",
                "phone": "3121158878",
                "address": "Rua Visconde de Taunay",
                "addressNumber": "514,
                "complement": "",
                "province": "São João Batista",
                "city": "Belo Horizonte",
                "state": "MG",
                "postalCode": "31525-020",
                "country": "Brasil",
                "observations": "just myself"   
                }
            ]
        }

### Atualizar cliente existente [POST /clientes/cliente_update.php]

Permite atualizar as informações de um cliente já existente.

+ Request (application/json)

    + Headers
        access_token: sua_api_key

    + Attributes (ClienteUpd)


    + Body
            {
                "id": "1",
                "email": "novo_email@gmail.com",
                "phone": "4735515675",
                "mobilePhone": "4799857841",
                "postalCode": "01310-000",
                "address": "Av. Paulista",
                "addressNumber": "150",
                "complement": "Sala 201",
                "province": "Centro",
                "city": "São Paulo",
                "state": "SP",
                "observations": "ótimo pagador, nenhum problema até o momento"
            }


+ Response 200 (application/json)


    + Body

            {
                "object": "cliente",
                "id": "1",
                "name": "Academia Teste",
                "companyName": "Dill Fitness Ltda",
                "email": "academia.teste@gmail.com",
                "mobilePhone": "31971636968",
                "phone": "3141018508",
                "address": "Av. Paulista",
                "addressNumber": "150",
                "complement": "Sala 201",
                "province": "Centro",
                "city": "São Paulo",
                "state": "SP",
                "postalCode": "01310000",
                "country": "Brasil",
                "observations": "ótimo pagador, nenhum problema até o momento"
            }




## Cobranças [/payments]

Os status possíveis de uma cobrança são os seguintes:

`PENDING` - Aguardando pagamento

`RECEIVED` - Recebida (saldo já creditado na conta)

`CONFIRMED` - Pagamento confirmado (saldo ainda não creditado)

`OVERDUE` - Vencida

`REFUNDED` - Estornada

`RECEIVED_IN_CASH` - Recebida em dinheiro (não gera saldo na conta)

`REFUND_REQUESTED` - Estorno Solicitado

`CHARGEBACK_REQUESTED` - Recebido chargeback

`CHARGEBACK_DISPUTE` - Em disputa de chargeback (caso sejam apresentados documentos para contestação)

`AWAITING_CHARGEBACK_REVERSAL` - Disputa vencida, aguardando repasse da adquirente

`DUNNING_REQUESTED` - Em processo de recuperação

`DUNNING_RECEIVED` - Recuperada

`AWAITING_RISK_ANALYSIS` - Pagamento em análise

### Criar nova cobrança [POST]

Cria uma nova cobrança. É possível escolher entre as formas de pagamento com boleto, cartão de crédito, Pix ou permitir que o cliente escolha a forma que desejar.

+ Request (application/json)

    + Headers
        access_token: sua_api_key

    + Attributes (NewPayment)

    + Body
            {
                "customer": "{CUSTOMER_ID}",
                "billingType": "BOLETO",
                "dueDate": "2017-06-10",
                "value": 100.00,
                "description": "Pedido 056984",
                "externalReference": "056984",
                "discount": {
                    "value": 10.00,
                    "dueDateLimitDays": 0
                },
                "fine": {
                    "value": 1.00
                },
                "interest": {
                    "value": 2.00
                },
                "postalService": false
            }


+ Response 200 (application/json)

    + Attributes (Payment)

    + Body

            {
                "object": "payment",
                "id": "pay_080225913252",
                "dateCreated": "2017-03-10",
                "customer": "cus_G7Dvo4iphUNk",
                "paymentLink": null,
                "dueDate": "2017-06-10",
                "value": 100.00,
                "netValue": 95.00,
                "billingType": "BOLETO",
                "status": "PENDING",
                "description": "Pedido 056984",
                "externalReference": "056984",
                "originalValue": null,
                "interestValue": null,
                "originalDueDate": "2017-06-10",
                "paymentDate": null,
                "clientPaymentDate": null,
                "transactionReceiptUrl": null,
                "invoiceUrl": "https://www.asaas.com/i/080225913252",
                "bankSlipUrl": "https://www.asaas.com/b/pdf/080225913252",
                "invoiceNumber": "00005101",
                "discount": {
                    "value": 10.00,
                    "dueDateLimitDays": 0
                },
                "fine": {
                    "value": 1.00
                },
                "interest": {
                    "value": 2.00
                },
                "deleted": false,
                "postalService": false,
                "anticipated": false
            }


### Criar cobrança com cartão de crédito [POST]
Ao criar uma cobrança com a forma de pagamento cartão de crédito, é possível redirecionar o cliente para a
URL da fatura (`invoiceUrl`) afim de que ele informe os dados do cartão através da interface do Asaas,
ou os dados do cartão e do portador podem ser enviados na requisição de criação para que o pagamento já seja processado.

Para tal, ao executar a requisição de criação da cobrança, basta enviar os dados do cartão de crédito juntamente
com os dados do titular através dos objetos `creditCard` e `creditCardHolderInfo`. É importante que os dados
do titular sejam exatamente os mesmos cadastrados no banco emissor do cartão, caso contrário a transação poderá
ser negada por suspeita de fraude.

Se a transação for autorizada a cobrança será criada e o Asaas retornará `HTTP 200`. Caso contrário
a cobrança não será persistida e será retornado `HTTP 400`.

Em `Sandbox` as transações são aprovadas automaticamente, caso queira simular um erro é necessário informar o cartão de crédito de número `5184019740373151 (Mastercard)` ou `4916561358240741 (Visa)`.

> **Atenção:**
> - Independente da data de vencimento informada, a captura (cobrança no cartão do cliente) será efetuada no momento da criação da cobrança.
> - Caso você opte por capturar na interface do seu sistema os dados do cartão do cliente, é
obrigatório o uso de SSL (HTTPS), caso contrário sua conta pode ser bloqueada para transações via
cartão de crédito.
> - Para se evitar timeouts e decorrentemente duplicidades na captura, recomendamos a configuração de um timeout mínimo de 60 segundos para este request.

##### Tokenização de cartão de crédito <a name="tokenizacao-de-cartao-de-credito"></a>
Essa funcionalidade permite você cobrar de seus clientes recorrentemente sem a necessidade deles informarem todos os dados de cartão de crédito novamente.
Tudo isso de forma segura por meio de um token.

Ao realizar uma primeira transação para o cliente com cartão de crédito, a resposta do Asaas lhe devolverá dentro do objeto `creditCard`, o atributo `creditCardToken`.
Em posse dessa informação, nas próximas transações, o atributo `creditCardToken` pode substituir os objetos `creditCard` e `creditCardHolderInfo` e ser informado diretamente na raiz da requisição, não necessitando assim que os objetos sejam informados novamente.

> **Atenção**:
> - A funcionalidade de tokenização está previamente habilitada em Sandbox e você já pode testá-la. Para uso em produção, é necessário solicitar a habilitação da funcionalidade ao seu gerente de contas.
> - O token é armazenado por cliente, não podendo ser utilizado em transações de outros clientes

+ Request (application/json)

    + Headers
        access_token: sua_api_key

    + Attributes (NewPaymentWithCreditCard)

    + Body
            {
                "customer": "cus_0T1mdomVMi39",
                "billingType": "CREDIT_CARD",
                "dueDate": "2017-03-15",
                "value": 100.00,
                "description": "Pedido 056984",
                "externalReference": "056984",
                "creditCard": {
                    "holderName": "marcelo h almeida",
                    "number": "5162306219378829",
                    "expiryMonth": "05",
                    "expiryYear": "2021",
                    "ccv": "318"
                },
                "creditCardHolderInfo": {
                    "name": "Marcelo Henrique Almeida",
                    "email": "marcelo.almeida@gmail.com",
                    "cpfCnpj": "24971563792",
                    "postalCode": "89223-005",
                    "addressNumber": "277",
                    "addressComplement": null,
                    "phone": "4738010919",
                    "mobilePhone": "47998781877"
                },
                "creditCardToken": "76496073-536f-4835-80db-c45d00f33695"
            }


+ Response 200 (application/json)

    + Attributes (PaymentWithCreditCard)

    + Body

            {
                "object": "payment",
                "id": "pay_080225913252",
                "dateCreated": "2017-03-10",
                "customer": "cus_G7Dvo4iphUNk",
                "paymentLink": null,
                "dueDate": "2017-03-15",
                "value": 100.00,
                "netValue": 94.51,
                "billingType": "CREDIT_CARD",
                "status": "CONFIRMED",
                "description": "Pedido 056984",
                "externalReference": "056984",
                "confirmedDate": "2017-03-15",
                "originalValue": null,
                "interestValue": null,
                "originalDueDate": "2017-06-10",
                "paymentDate": null,
                "clientPaymentDate": null,
                "transactionReceiptUrl": "https://www.asaas.com/comprovantes/9732f4ae3a760ce63e7640e9016d4be1",
                "invoiceUrl": "https://www.asaas.com/i/080225913252",
                "bankSlipUrl": null,
                "invoiceNumber": "00005101",
                "deleted": false,
                "postalService": false,
                "anticipated": false,
                "creditCard": {
                    "creditCardNumber": "8829",
                    "creditCardBrand": "MASTERCARD",
                    "creditCardToken": "a75a1d98-c52d-4a6b-a413-71e00b193c99"
                }
            }


### Criar uma cobrança parcelada [POST]

Para criar uma cobrança parcelada, ao invés de enviar o parâmetro `value`, envie `installmentCount`
e `installmentValue`, que representam o **número de parcelas** e o **valor da cada parcela** respectivamente.

Caso prefira informar apenas o valor total do parcelamento, envie o campo `totalValue` no lugar do `installmentValue` com o valor desejado. Se não for possível a divisão exata dos valores de cada parcela, a diferença sera compensada na última parcela.
Por exemplo, um parcelamento com o valor total de R$ 350,00 divido em 12 vezes geraria 11 parcelas no valor de R$: 29,16, sendo a décima segunda parcela no valor de R$: 29,24, totalizando R$: 350.00.

A resposta em caso de sucesso será a primeira cobrança do parcelamento. Caso queira recuperar todas as parcelas basta
executa a seguinte requisição com o `installment` retornado :

`GET https://www.asaas.com/api/v3/payments?installment={installment_id}`

Outras ações sobre o parcelamento podem ser encontradas em nossa [seção de parcelamentos](#reference/parcelamentos).

+ Request (application/json)

    + Headers
        access_token: sua_api_key

    + Attributes (NewPayment)

    + Body
            {
                "customer": "{CUSTOMER_ID}",
                "billingType": "BOLETO",
                "installmentCount": 6,
                "installmentValue": 20.00,
                "dueDate": "2017-06-10",
                "description": "Pedido 056984",
                "externalReference": "056984",
                "discount": {
                    "value": 10.00,
                    "dueDateLimitDays": 0
                },
                "fine": {
                    "value": 1.00
                },
                "interest": {
                    "value": 2.00
                }
            }


+ Response 200 (application/json)

    + Attributes (Payment)

    + Body

            {
                "object": "payment",
                "id": "pay_080225913252",
                "dateCreated": "2017-03-10",
                "customer": "cus_G7Dvo4iphUNk",
                "paymentLink": null,
                "installment": "ins_000000114044",
                "dueDate": "2017-06-10",
                "value": 20.00,
                "netValue": 15.00,
                "billingType": "BOLETO",
                "status": "PENDING",
                "description": "Pedido 056984",
                "externalReference": "056984",
                "originalValue": null,
                "interestValue": null,
                "originalDueDate": "2017-06-10",
                "paymentDate": null,
                "clientPaymentDate": null,
                "transactionReceiptUrl": null,
                "invoiceUrl": "https://www.asaas.com/i/080225913252",
                "bankSlipUrl": "https://www.asaas.com/b/pdf/080225913252",
                "invoiceNumber": "00005101",
                "discount": {
                    "value": 10.00,
                    "dueDateLimitDays": 0
                },
                "fine": {
                    "value": 1.00
                },
                "interest": {
                    "value": 2.00
                },
                "deleted": false,
                "postalService": false,
                "anticipated": false
            }

### Recuperar uma única cobrança [GET /payments/{id}]

Para recuperar uma cobrança específica é necessário que você tenha o ID
que o Asaas retornou no momento da criação dela.

+ Parameters
    + id - Identificador único da cobrança no Asaas

+ Request (application/json)

    + Headers
        access_token: sua_api_key


+ Response 200 (application/json)

    + Attributes (Payment)

    + Body

            {
                "object": "payment",
                "id": "pay_080225913252",
                "dateCreated": "2017-03-10",
                "customer": "cus_G7Dvo4iphUNk",
                "paymentLink": "997152082166122",
                "dueDate": "2017-06-10",
                "value": 100.00,
                "netValue": 95.00,
                "billingType": "BOLETO",
                "status": "PENDING",
                "description": "Pedido 056984",
                "externalReference": "056984",
                "originalValue": null,
                "interestValue": null,
                "originalDueDate": "2017-06-10",
                "paymentDate": null,
                "clientPaymentDate": null,
                "transactionReceiptUrl": null,
                "invoiceUrl": "https://www.asaas.com/i/080225913252",
                "bankSlipUrl": "https://www.asaas.com/b/pdf/080225913252",
                "invoiceNumber": "00005101",
                "discount": {
                    "value": 10.00,
                    "dueDateLimitDays": 0
                },
                "fine": {
                    "value": 1.00
                },
                "interest": {
                    "value": 2.00
                },
                "deleted": false,
                "postalService": false,
                "anticipated": false
            }



### Listar cobranças [GET /payments{?customer,billingType,status,subscription,installment,externalReference,paymentDate,anticipated,paymentDate%5Bge%5D,paymentDate%5Ble%5D,dueDate%5Bge%5D,dueDate%5Ble%5D,offset,limit}]
Diferente da recuperação de uma cobrança específica, este método retorna
uma lista paginada com todas as cobranças para os filtros informados.

##### Exemplos de filtros

Listar cobranças de um cliente específico: `GET https://www.asaas.com/api/v3/payments?customer={customer_id}`

Filtrar por forma de pagamento: `GET https://www.asaas.com/api/v3/payments?billingType=CREDIT_CARD`

Filtrar por status: `GET https://www.asaas.com/api/v3/payments?status=RECEIVED`

Filtrar por status e forma de pagamento: `GET https://www.asaas.com/api/v3/payments?status=RECEIVED&billingType=CREDIT_CARD`

Filtrar por data de vencimento inicial e final: `GET https://www.asaas.com/api/v3/payments?dueDate%5Bge%5D=2017-01-12&dueDate%5Ble%5D=2017-11-28`

Filtrar por data de recebimento inicial e final: `GET https://www.asaas.com/api/v3/payments?paymentDate%5Bge%5D=2017-01-12&paymentDate%5Ble%5D=2017-11-28`

Filtrar apenas cobranças antecipadas: `GET https://www.asaas.com/api/v3/payments?anticipated=true`


+ Parameters
    + customer (optional) - Filtrar pelo Identificador único do cliente
    + billingType (optional, enum) - Filtrar por forma de pagamento
    + status (optional, enum) - Filtrar por status
    + subscription (optional) - Filtrar pelo Identificador único da assinatura
    + installment (optional) - Filtrar pelo Identificador único do parcelamento
    + externalReference (optional) - Filtrar pelo Identificador do seu sistema
    + paymentDate (optional) - Filtrar pela data de pagamento
    + anticipated (optional, boolean) - Filtrar registros antecipados ou não
    + paymentDate%5Bge%5D (optional) - Filtrar a partir da data de recebimento inicial
    + paymentDate%5Ble%5D (optional) - Filtrar a partir da data de recebimento final
    + dueDate%5Bge%5D (optional) - Filtrar a partir da data de vencimento inicial
    + dueDate%5Ble%5D (optional) - Filtrar a partir da data de vencimento final
    + offset (number, optional) - Elemento inicial da lista
    + limit (number, optional) - Número de elementos da lista (max: 100)

+ Request
    + Headers
        access_token: sua_api_key

+ Response 200 (application/json)


    + Body

        {
            "object": "list",
            "hasMore": false,
            "totalCount": 2,
            "limit": 10,
            "offset": 0,
            "data": [
                {
                    "object": "payment",
                    "id": "pay_080225913252",
                    "dateCreated": "2017-03-10",
                    "customer": "cus_G7Dvo4iphUNk",
                    "paymentLink": "997152082166122",
                    "value": 200.00,
                    "netValue": 195.00,
                    "originalValue": null,
                    "interestValue": null,
                    "description": null,
                    "billingType": "BOLETO",
                    "status": "PENDING",
                    "dueDate": "2017-03-16",
                    "originalDueDate": "2017-03-16",
                    "paymentDate": null,
                    "clientPaymentDate": null,
                    "transactionReceiptUrl": null,
                    "invoiceUrl": "https://www.asaas.com/i/080225913252",
                    "invoiceNumber": "00005101",
                    "externalReference": null,
                    "deleted": false,
                    "bankSlipUrl": "https://www.asaas.com/b/pdf/080225913252",
                    "postalService": true,
                    "anticipated": false
                },
                {
                    "object": "payment",
                    "id": "pay_961122153955",
                    "dateCreated": "2017-03-08",
                    "customer": "cus_twmWzMzoTYoh",
                    "paymentLink": null,
                    "value": 50.00,
                    "netValue": 45.00,
                    "originalValue": null,
                    "interestValue": null,
                    "description": "Pedido 001387895",
                    "billingType": "CREDIT_CARD",
                    "status": "PENDING",
                    "dueDate": "2017-04-16",
                    "originalDueDate": "2017-04-30",
                    "paymentDate": null,
                    "clientPaymentDate": null,
                    "transactionReceiptUrl": null,
                    "invoiceUrl": "https://www.asaas.com/i/961122153955",
                    "invoiceNumber": "00005100",
                    "externalReference": null,
                    "deleted": false,
                    "bankSlipUrl": "https://www.asaas.com/b/pdf/961122153955",
                    "postalService": false,
                    "anticipated": false
                }
            ]
        }


### Atualizar cobrança existente [POST /payments/{id}]

Somente é possível atualizar cobranças aguardando pagamento ou vencidas. Uma vez criada, não é possível alterar
o cliente ao qual a cobrança pertence.

+ Parameters
    + id (required) ... Identificador único da cobrança a ser atualizada.

+ Request (application/json)

    + Headers
        access_token: sua_api_key

    + Attributes (NewPayment)

    + Body
            {
                "billingType": "BOLETO",
                "dueDate": "2017-06-10",
                "value": 100.00,
                "description": "Pedido 056984",
                "externalReference": "056984",
                "discount": {
                    "value": 10.00,
                    "dueDateLimitDays": 0
                },
                "fine": {
                    "value": 1.00
                },
                "interest": {
                    "value": 2.00
                },
                "postalService": false
            }

+ Response 200 (application/json)

    + Attributes (Payment)

    + Body

            {
                "object": "payment",
                "id": "pay_080225913252",
                "dateCreated": "2017-03-10",
                "customer": "cus_G7Dvo4iphUNk",
                "paymentLink": null,
                "dueDate": "2017-06-10",
                "value": 100.00,
                "netValue": 95.00,
                "billingType": "BOLETO",
                "status": "PENDING",
                "description": "Pedido 056984",
                "externalReference": "056984",
                "originalValue": null,
                "interestValue": null,
                "originalDueDate": "2017-06-10",
                "paymentDate": null,
                "clientPaymentDate": null,
                "transactionReceiptUrl": null,
                "invoiceUrl": "https://www.asaas.com/i/080225913252",
                "bankSlipUrl": "https://www.asaas.com/b/pdf/080225913252",
                "invoiceNumber": "00005101",
                "discount": {
                    "value": 10.00,
                    "dueDateLimitDays": 0
                },
                "fine": {
                    "value": 1.00
                },
                "interest": {
                    "value": 2.00
                },
                "deleted": false,
                "postalService": false,
                "anticipated": false
            }

### Remover cobrança [DELETE /payments/{id}]

Somente cobranças aguardando pagamento ou vencidas podem ser removidas.

+ Parameters
    + id (required) ... Identificador único da cobrança a ser removida.

+ Request (application/json)

    + Headers
        access_token: sua_api_key


+ Response 200 (application/json)


    + Body

            {
                "deleted": true,
                "id": "pay_pCczZjBBr6RL"
            }


### Restaurar cobrança removida [POST /payments/{id}/restore]

Restaurar cobranças removidas.

+ Parameters
    + id (required) ... Identificador único da cobrança a ser restaurada.

+ Request (application/json)

    + Headers
        access_token: sua_api_key

+ Response 200 (application/json)

    + Attributes (Payment)

    + Body

            {
                "object": "payment",
                "id": "pay_080225913252",
                "dateCreated": "2017-03-10",
                "customer": "cus_G7Dvo4iphUNk",
                "paymentLink": null,
                "dueDate": "2017-06-10",
                "value": 100.00,
                "netValue": 95.00,
                "billingType": "BOLETO",
                "status": "PENDING",
                "description": "Pedido 056984",
                "externalReference": "056984",
                "originalValue": null,
                "interestValue": null,
                "originalDueDate": "2017-06-10",
                "paymentDate": null,
                "clientPaymentDate": null,
                "transactionReceiptUrl": null,
                "invoiceUrl": "https://www.asaas.com/i/080225913252",
                "bankSlipUrl": "https://www.asaas.com/b/pdf/080225913252",
                "invoiceNumber": "00005101",
                "discount": {
                    "value": 10.00,
                    "dueDateLimitDays": 0
                },
                "fine": {
                    "value": 1.00
                },
                "interest": {
                    "value": 2.00
                },
                "deleted": false,
                "postalService": false,
                "anticipated": false
            }


### Estornar cobrança [POST /payments/{id}/refund]

É possível estornar cobranças via cartão de crédito recebidas ou confirmadas. Ao fazer isto o saldo correspondente
é debitado de sua conta no Asaas e a cobrança cancelada no cartão do seu cliente. O cancelamento pode levar até
10 dias úteis para aparecer na fatura de seu cliente.

+ Parameters
    + id (required) ... Identificador único da cobrança a ser estornada.
        + Default: `id`

+ Request (application/json)

    + Headers
        access_token: sua_api_key


+ Response 200 (application/json)

    + Attributes (PaymentWithCreditCard)

    + Body

            {
                "object": "payment",
                "id": "pay_080225913252",
                "dateCreated": "2017-03-10",
                "customer": "cus_G7Dvo4iphUNk",
                "paymentLink": null,
                "dueDate": "2017-03-15",
                "value": 100.00,
                "netValue": 94.51,
                "billingType": "CREDIT_CARD",
                "status": "REFUNDED",
                "description": "Pedido 056984",
                "externalReference": "056984",
                "confirmedDate": "2017-03-15",
                "originalValue": null,
                "interestValue": null,
                "originalDueDate": "2017-06-10",
                "paymentDate": null,
                "clientPaymentDate": null,
                "transactionReceiptUrl": "https://www.asaas.com/comprovantes/9732f4ae2a760ce63e7640e9016d4be2",
                "invoiceUrl": "https://www.asaas.com/i/080225913252",
                "bankSlipUrl": null,
                "invoiceNumber": "00005101",
                "deleted": false,
                "postalService": false,
                "anticipated": false,
                "creditCard": {
                    "creditCardNumber": "8829",
                    "creditCardBrand": "MASTERCARD",
                    "creditCardToken": "a75a1d98-c52d-4a6b-a413-71e00b193c99"
                }
            }

### Obter linha digitável do boleto [GET /payments/{id}/identificationField]

A linha digitável do boleto é a representação numérica do código de barras. Essa informação pode ser disponibilizada ao seu cliente para pagamento do boleto diretamente no Internet Banking. Ao gerar uma cobrança com as formas de pagamento `BOLETO` ou `UNDEFINED`, a linha digitável pode ser recuperada.

Para recuperar a linha digitável do boleto, é necessário informar o ID da cobrança que o Asaas retornou no momento da criação. Como retorno, você receberá a linha digitável.

> **Atenção:** Caso a cobrança seja atualizada, a linha digitável também sofrerá alterações. O indicado é que a cada nova atualização da cobrança a linha digitável seja novamente recuperada, garantindo que você sempre estará exibindo a linha digitável atualizada.

+ Parameters

    + id (required) ... Identificador único da cobrança a ser recebida.

+ Request (application/json)

    + Headers

            access_token: sua_api_key

+ Response 200 (application/json)

    + Body

            {
                "identificationField": "00190000090275928800021932978170187890000005000"
            }

### Obter QR Code para pagamentos via Pix [GET /payments/{id}/pixQrCode]

O recebimento via Pix é um meio rápido, eficaz e seguro para que sua empresa receba as cobranças de seus clientes. Ao gerar uma cobrança com as formas de pagamento "PIX", "BOLETO" ou "UNDEFINED" o pagamento via Pix é habilitado. Uma das maiores vantagens dessa forma de pagamento é que ocorre de forma instantânea, ou seja, assim que o pagamento for realizado o saldo é disponibilizado em sua conta Asaas. Você pode ler mais sobre o Pix [aqui](https://www.bcb.gov.br/estabilidadefinanceira/pix).

No Asaas você não precisa cadastrar uma chave para oferecer o Pix ao seus clientes. Através de uma chave cadastrada com o CNPJ do Asaas, em um parceiro, oferecemos a geração de QR Codes vinculados a suas cobranças.

Para gerar/recuperar o QR Code de uma cobrança é necessário que informar o ID da cobrança que o Asaas retornou no momento da criação. Como retorno, você obterá o QR Code (retornado em imagem no formato Base 64) e um Payload para permitir o Pix Copia e Cola.

Todo QR Code obtido pode ser pago até 23:59 do mesmo dia. A cada atualização em sua cobrança, é necessário obter um novo QR Code.

+ Parameters

    + id (required) ... Identificador único da cobrança a ser recebida.

+ Request (application/json)

    + Headers

            access_token: sua_api_key

+ Response 200 (application/json)

    + Body

            {
                "encodedImage": "iVBORw0KGgoAAAANSUhEUgAAAYsAAAGLCAIAAAC5gincAAAOaUlEQVR42u3aUXJjIRADQN//0ruHCCMNvNavE9sPmCZVyu+fiMjW/CyBiBBKRIRQIkIoERFCiQihREQIJSJCKBEhlIgIoUSEUCIihBIRIZSIEEpEhFAiQigREUKJiBBKRAglIkIoESGUiAihREQIJSKEEhFZLtQvlYOf+5e3+sviHFzYuS2b2/2/LM6Sg3TwEf7yamxS5kaDUIQiFKEIRShCEYpQhCIUoQhFKEIRilCEelqo2Du30IlNTuwWickYs++Ka6O1+3e8M6EIRShCEYpQhCIUoQhFKEIRilCEIhShCPWUUHNFycExm6tvYsc99iVbyrQqttiGtkSOVZmEIhShCEUoQhGKUIQiFKEIRShCEYpQhCIUoeaff8lpuGL7WyMagyP2uzsLZUIRilCEIhShCEUoQhGKUIQiFKEIRShCEYpQXxVqSRM090Rz035wB5fM5MEHXHLqWq03oQhFKEIRilCEIhShCEUoQhGKUIQiFKEIRah4EzR3sGI0xFYjhmyrF1vS5M4RHMO9NaGEIhShCEUoQhGKUIQiFKEIRShCEYpQhCLUh4WK7bdXverV421dq5wllFe96lVCEcqrXiUUoZwzr3qVUITyqlcJdblQrfyFs7lGJlbftA5lq388uN1zhVRry/49F0IRilCEIhShCEUoQhGKUIQiFKEIRShCEeotoVpt3RIKW63KFWkt3dyVE+Nsbujm3opQhCIUoQhFKEIRilCEIhShCEUoQhGKUIR6WqhWTxT7Gkt6sVaHuOQWae3vki4v9p2XVIqEIhShCEUoQhGKUIQiFKEIRShCEYpQhCLU5V1erK+JNUGt7vKKEq1VV8WO6NzCLrmQ/q0MoQhFKEIRilCEIhShCEUoQhGKUIQiFKEIdZtQB9fuikO5hO+d076ku4wtzvOl8IP/bUAoQhGKUIQiFKEIRShCEYpQhCIUoQhFKEIVhJrzK9ZAzZVZsc9ttXWtu+3GZjN2IV1xERKKUIQiFKEIRShCEYpQhCIUoQhFKEIRilC3CRWrBlp11ZJyZ8kJPvj4rZtv7tUbt6z1zoQiFKEIRShCEYpQhCIUoQhFKEIRilCEItRbQs1tcKyPi8l4cIB3Xhux1myuU4uh0yqj7zixhCIUoQhFKEIRilCEIhShCEUoQhGKUIQi1GVC7Vys2Omf86t1McTsW7JWMdx3krS0QyQUoQhFKEIRilCEIhShCEUoQhGKUIQiFKE+JFTrfO8cpIOn/2DzFaMh1uTO3XxXoLPkeBOKUIQiFKEIRShCEYpQhCIUoQhFKEIRilBvCdXqAuZWJ3YoD/ZEc47ESsMlM9n64YNrteSDCEUoQhGKUIQiFKEIRShCEYpQhCIUoQhFKELNj1mrFmwVNK2abEnfOncmY5ViqxZsXe2EIhShCEUoQhGKUIQiFKEIRShCEYpQhCLUh4WK1Qpz2zA3dYPdR2nZY/TH4Gi1dUt2cMkNRChCEYpQhCIUoQhFKEIRilCEIhShCEUoQr0l1NwPt8CKVWytm6DVIS5ZuiX3Uwyd1t8BhCIUoQhFKEIRilCEIhShCEUoQhGKUIQi1FtCLenFWn7NnbNWE9Sa55gFMZKuuOpiB5hQhCIUoQhFKEIRilCEIhShCEUoQhGKUIT6klBzs3FFETZ3sG78VrFOLebmexbsDKEIRShCEYpQhCIUoQhFKEIRilCEIhShCHWbUEtWdmcfFzvBNxasVxSOrWtyyW3dkpFQhCIUoQhFKEIRilCEIhShCEUoQhGKUIT6UpcX67ZardnzzeYVd8zzrejBldzyBwehCEUoQhGKUIQiFKEIRShCEYpQhCIUoQj1lFBzPVHsh5fsd8vrgwMcW+dYSdpa55ibraaPUIQiFKEIRShCEYpQhCIUoQhFKEIRilCEekuoVpfXUmZJFdLalCVF55JS+OA8txypnVhCEYpQhCIUoQhFKEIRilCEIhShCEUoQhHqbqFaZdbcKVxyoGMjGtujWM8bawlb11XsxL7Q5RGKUIQiFKEIRShCEYpQhCIUoQhFKEIRilCFLu+KiY3pFiuGYhYcrPZaZVZsYQfnOQXHC10eoQhFKEIRilCEIhShCEUoQhGKUIQiFKEINSJUa7xbOxr73Z3D0NJtyR61LqTYDC6hkFCEIhShCEUoQhGKUIQiFKEIRShCEYpQhLpNqAfqm50jOrcasc+dW6u5DjFGw9xYtfpWQhGKUIQiFKEIRShCEYpQhCIUoQhFKEIR6sNCzc3GHJSxZmTJcV9yZFu3V+sGit1ecx/UWmdCEYpQhCIUoQhFKEIRilCEIhShCEUoQhHqNqFausW28OCoLBnC344cfN4b67mdW7ZFBkIRilCEIhShCEUoQhGKUIQiFKEIRShCEeopoXaOWaxkiR2OudVQ3i2chdbxzv2VQChCEYpQhCIUoQhFKEIRilCEIhShCEUoQt0t1JL6JvYIf/nOsbWa4+zggV7Se7aKsNbj76z2CEUoQhGKUIQiFKEIRShCEYpQhCIUoQhFqNuE+p3LwWYkNiq/sbRqo1hP1IKyddW1WsK5O5VQhCIUoQhFKEIRilCEIhShCEUoQhGKUIQi1EAHccV4z53CnUP4S+XfjsR2f+c1OTfshCIUoQhFKEIRilCEIhShCEUoQhGKUIQiFKHiJykG5ZIirDWTc4N0cJ5bdVWsQ2zVkYQiFKEIRShCEYpQhCIUoQhFKEIRilCEIhShrrLgitJwbpBajx/zK3bjHlyNJTd9DB1CEYpQhCIUoQhFKEIRilCEIhShCEUoQhGKUAMneO7V2Fu1jt3BLVtyvndeOQfv8hvHilCEIhShCEUoQhGKUIQiFKEIRShCEYpQhPqSULH6ZmdpGKvJYu8cE7nVisZOTmytYpzlrhxCEYpQhCIUoQhFKEIRilCEIhShCEUoQhHqMqEODkPrg5aclZa5c4tzRZU5d220KrbY8b7yvw0IRShCEYpQhCIUoQhFKEIRilCEIhShCEWoRJf3l8MR+92DuzK3Z616rjXtS+xbchhix2znHUMoQhGKUIQiFKEIRShCEYpQhCIUoQhFKELdJtTBrqc1Oc9LcfBbzVV7Mfvm3qq1ZUtqX0IRilCEIhShCEUoQhGKUIQiFKEIRShCEerDQh3cwgdKtFZPFPtWsc507lzNrcaSTm3uIOUen1CEIhShCEUoQhGKUIQiFKEIRShCEYpQhCLU6vKudfrf63qWzEarYtt5iyzxmlCEIhShCEUoQhGKUIQiFKEIRShCEYpQhLpcqFhdFSs7lnAW+1ZzwxArdmNHdMmWtWbwyi6PUIQiFKEIRShCEYpQhCIUoQhFKEIRilCEKnR5sc6l1RMtOYUxoHNnNNWpLXnn2PFu3eWEIhShCEUoQhGKUIQiFKEIRShCEYpQhCLUl4Q6WA20CqmDJO1c2AfWeclqDI7ojvq19ucIoQhFKEIRilCEIhShCEUoQhGKUIQiFKEIdbdQc1s491axNufgSfr4PC9Z2LndPyjUkqNCKEIRilCEIhShCEUoQhGKUIQiFKEIRShCPS1UbNrn3mrOzYM7OndWWvVrjMI5ZWKlcKxia5FEKEIRilCEIhShCEUoQhGKUIQiFKEIRShCXS5UrI+bq8la/WNrGGIDHLvqYhXqkqX7ncvBTSEUoQhFKEIRilCEIhShCEUoQhGKUIQiFKE+LNRcPbfz6LSG4cYKtcXKXGnYKu/mPvfg4BCKUIQiFKEIRShCEYpQhCIUoQhFKEIRilCEGpir2OS0SsMlZdbcIzwwKjFzWwS3vCYUoQhFKEIRilCEIhShCEUoQhGKUIQiFKHeEipWK8yVOztPUsuCnVfOXBG2pLqNVXtztyahCEUoQhGKUIQiFKEIRShCEYpQhCIUoQj1YaHm0JnzK1YLxh6hpXnLoNgTxerm2OXdQpZQhCIUoQhFKEIRilCEIhShCEUoQhGKUIR6WqiDMznXqsSqnys6tZhuc9fVzhPbqoxbjBKKUIQiFKEIRShCEYpQhCIUoQhFKEIRilCEaj9SS6i5UmkJoy2hluxRrKyMWR87k4QiFKEIRShCEYpQhCIUoQhFKEIRilCEIhSh5susVqnUGu+50jA2wHO4z71Vq3CM7eCSPSIUoQhFKEIRilCEIhShCEUoQhGKUIQiFKG+JFTrg35jaX3ng2M2N6LvVbcx3Fu315LpJhShCEUoQhGKUIQiFKEIRShCEYpQhCIUob4k1MHj3hr+vxy7uQ5xbvhjWXJNtnZh5w7W/hwhFKEIRShCEYpQhCIUoQhFKEIRilCEIhShLhNqya68J1Sr+YpVmQdrsthqHNz92A/HDjChCEUoQhGKUIQiFKEIRShCEYpQhCIUoQj1YaGWdD1Lxjt23FuqXmHQ84sT+xqtspJQhCIUoQhFKEIRilCEIhShCEUoQhGKUIS6XKjn27olBVysQ2zBsWS8Y3fbFV0eoQhFKEIRilCEIhShCEUoQhGKUIQiFKEIRaiB7mNuCA9ObOycxUb04DzPreROZeZO3ZLj3SKJUIQiFKEIRShCEYpQhCIUoQhFKEIRilCEItR8XRV7wFh5N/fDO7ueWGUcU3XJahCKUIQiFKEIRShCEYpQhCIUoQhFKEIRilCE+oxQc8duCVhz/dTct4r97pJ67uAOHnz81pVDKEIRilCEIhShCEUoQhGKUIQiFKEIRShCfUmo2DvvHLNWpbikYjs4wFe0V7HOtKU5oQhFKEIRilCEIhShCEUoQhGKUIQiFKEIRagBGuaakdaBjnk9NwwHt3tuy+Y+aO5r7By61lgRilCEIhShCEUoQhGKUIQiFKEIRShCEYpQbwklIkIoESGUiAihREQIJSKEEhEhlIgQSkSEUCIihBIRQomIEEpECCUiQigREUKJCKFERAglIoQSESGUiAihRIRQIiKEEhFCiYgQSkSEUCKyP/8BEx8s6eEexAIAAAAASUVORK5CYII=",
                "payload": "00020101021226820014br.gov.bcb.pix2560qrpix-h.bradesco.com.br/9d36b84f-c70b-478f-b95c-12729b90ca25520400005303986540594.005802BR5905ASAAS6009JOINVILLE62070503***6304F5A8",
                "expirationDate": "2021-06-24 23:59:59"
            }

### Confirmar recebimento em dinheiro [POST /payments/{id}/receiveInCash]

Quando um cliente fizer o pagamento de uma cobrança diretamente para você, sem que esse pagamento seja processado pelo
Asaas, utilize este método para definir a cobrança como recebida em dinheiro. Esta opção serve para manter seu histórico
consistente no sistema, mas não gera saldo ou faz qualquer alteração financeira em sua conta.

Ao confirmar um recebimento em dinheiro de uma cobrança que possua uma recuperação em andamento uma taxa de ativação de serviço de recuperação poderá ser cobrada. Verifique essa taxa no campo `receivedInCashFeeValue` localizada no retorno do [objeto de recuperação](#reference/0/recuperacoes).

+ Parameters
    + id (required) ... Identificador único da cobrança a ser recebida.
    + paymentDate (required) ... Data em que o cliente efetuou o pagamento
    + value (required) ... Valor pago pelo cliente
    + notifyCustomer (boolean) ... Enviar ou não notificação de pagamento confirmado para o cliente

+ Request (application/json)

    + Headers
        access_token: sua_api_key

    + Body
        {
            "paymentDate": "2019-09-03",
            "value": 100.00,
        }

+ Response 200 (application/json)

    + Attributes (PaymentWithCreditCard)

    + Body

            {
                "object": "payment",
                "id": "pay_080225913252",
                "dateCreated": "2017-03-10",
                "customer": "cus_G7Dvo4iphUNk",
                "paymentLink": null,
                "dueDate": "2017-06-10",
                "value": 100.00,
                "netValue": 94.51,
                "billingType": "BOLETO",
                "status": "RECEIVED_IN_CASH",
                "description": "Pedido 056984",
                "externalReference": "056984",
                "confirmedDate": null,
                "originalValue": null,
                "interestValue": null,
                "originalDueDate": "2017-06-10",
                "paymentDate": 2017-10-20,
                "clientPaymentDate": null,
                "transactionReceiptUrl": null,
                "invoiceUrl": "https://www.asaas.com/i/080225913252",
                "bankSlipUrl": null,
                "invoiceNumber": "00005101",
                "deleted": false,
                "postalService": false,
                "anticipated": false
            }

### Desfazer confirmação de recebimento em dinheiro [POST /payments/{id}/undoReceivedInCash]

Permite desfazer uma cobrança que foi marcada como [recebida em dinheiro](#reference/0/cobrancas/confirmar-recebimento-em-dinheiro).

+ Parameters
    + id (required) ... Identificador único da cobrança.

+ Request (application/json)

    + Headers
        access_token: sua_api_key

+ Response 200 (application/json)

    + Attributes (Payment)

    + Body

             {
                "object": "payment",
                "id": "pay_080225913252",
                "dateCreated": "2017-03-10",
                "customer": "cus_G7Dvo4iphUNk",
                "paymentLink": null,
                "dueDate": "2017-06-10",
                "value": 100.00,
                "netValue": 95.00,
                "billingType": "BOLETO",
                "status": "PENDING",
                "description": "Pedido 056984",
                "externalReference": "056984",
                "originalValue": null,
                "interestValue": null,
                "originalDueDate": "2017-06-10",
                "paymentDate": null,
                "clientPaymentDate": null,
                "transactionReceiptUrl": null,
                "invoiceUrl": "https://www.asaas.com/i/080225913252",
                "bankSlipUrl": "https://www.asaas.com/b/pdf/080225913252",
                "invoiceNumber": "00005101",
                "discount": {
                    "value": 10.00,
                    "dueDateLimitDays": 0
                },
                "fine": {
                    "value": 1.00
                },
                "interest": {
                    "value": 2.00
                },
                "deleted": false,
                "postalService": false,
                "anticipated": false
            }

## Parcelamentos [/installments]

O identificador único do parcelamento no Asaas pode ser obtido por meio do atributo `installment`, retornado no momento da criação de uma cobrança parcelada.

### Recuperar um único parcelamento [GET /installments/{id}]

Para recuperar um parcelamento específico é necessário que você tenha o ID que o Asaas retornou no momento de sua criação.

###### Recuperar as cobranças de um parcelamento
Caso você queira recuperar as cobranças de um parcelamento você deve utilizar o [Listar Cobranças](#reference/0/cobrancas/listar-cobrancas) da seguinte forma:
`GET https://www.asaas.com/api/v3/payments?installment={installment_id}`

+ Parameters
    + id - Identificador único do parcelamento no Asaas

+ Request (application/json)

    + Headers
        access_token: sua_api_key

+ Response 200 (application/json)

    + Attributes (Installment)

    + Body

        {
            "object": "installment",
            "id": "ins_000000001030",
            "value": 360,
            "netValue": 312,12,
            "paymentValue": 30.0,
            "installmentCount": 12,
            "billingType": "CREDIT_CARD",
            "paymentDate": null,
            "description": "Pedido 056984",
            "expirationDay": 31,
            "deleted": false,
            "dateCreated": "2021-01-19",
            "customer": "cus_000000001645",
            "paymentLink": "997152082166122",
            "transactionReceiptUrl": null
        }


### Listar parcelamentos [GET /installments{?offset,limit}]

Diferente da recuperação de um parcelamento específico, este método retorna uma lista paginada com todos seus parcelamentos.

+ Parameters
    + offset (number, optional) - Elemento inicial da lista
    + limit (number, optional) - Número de elementos da lista (max: 100)

+ Request
    + Headers
        access_token: sua_api_key

+ Response 200 (application/json)

    + Body

        {
            "object": "list",
            "hasMore": false,
            "totalCount": 2,
            "limit": 10,
            "offset": 0,
            "data": [
                {
                    "object": "installment",
                    "id": "ins_000000001030",
                    "value": 360,
                    "netValue": 312,12,
                    "paymentValue": 30.0,
                    "installmentCount": 12,
                    "billingType": "CREDIT_CARD",
                    "paymentDate": null,
                    "description": "Pedido 056984",
                    "expirationDay": 31,
                    "deleted": false,
                    "dateCreated": "2021-01-19",
                    "customer": "cus_000000001645",
                    "paymentLink": "997152082166122",
                    "transactionReceiptUrl": null
                },
                {
                    "object": "installment",
                    "id": "ins_000000001029",
                    "value": 480,
                    "netValue": 384,24,
                    "paymentValue": 20.0,
                    "installmentCount": 24,
                    "billingType": "BOLETO",
                    "paymentDate": null,
                    "description": "Pedido 056983",
                    "expirationDay": 10,
                    "deleted": false,
                    "dateCreated": "2020-12-23",
                    "customer": "cus_000000001628",
                    "paymentLink": null,
                    "transactionReceiptUrl": null
                }
            ]
        }

### Remover parcelamento [DELETE /installments/{id}]

Somente é possível remover parcelamentos com cobranças aguardando pagamento ou vencidas e que não possuem processo de antecipação ou de recuperação.

> **Atenção:** Após removido o parcelamento não poderá ser restaurado.

+ Parameters
    + id (required) ... Identificador único do parcelamento a ser removido.

+ Request (application/json)

    + Headers
        access_token: sua_api_key


+ Response 200 (application/json)


    + Body

            {
                "deleted": true,
                "id": "ins_000000001029"
            }


### Estornar parcelamento [POST /installments/{id}/refund]

É possível estornar um parcelamento via cartão de crédito recebido ou confirmado. Como já ocorre no processo de estorno de uma cobrança avulsa por cartão de crédito,
o saldo correspondente do parcelamento é debitado de sua conta no Asaas e a cobrança é cancelada no cartão do seu cliente. O cancelamento pode levar até 10 dias úteis para aparecer na fatura de seu cliente.

+ Parameters
    + id (required) ... Identificador único do parcelamento a ser estornado.

+ Request (application/json)

    + Headers
        access_token: sua_api_key


+ Response 200 (application/json)

    + Attributes (Installment)

    + Body
        {
            "object": "installment",
            "id": "ins_000000001030",
            "value": 360,
            "netValue": 312,12,
            "paymentValue": 30.0,
            "installmentCount": 12,
            "billingType": "CREDIT_CARD",
            "paymentDate": null,
            "description": "Pedido 056984",
            "expirationDay": 31,
            "deleted": false,
            "dateCreated": "2020-12-23",
            "customer": "cus_000000001645",
            "paymentLink": null,
            "transactionReceiptUrl": null
        }

## Assinaturas [/subscriptions]
Assinaturas devem ser utilizadas quando a cobrança é feita periodicamente de forma recorrente, como por exemplo
cobrar o cliente mensalmente pelo uso do seu software, cobrança mensal de aluguéis, etc. Além de mensal é possível
escolher outras periodicidades como trimestral, semestral, entre outras.

Assinaturas são diferentes de cobranças parceladas: ao gerar uma cobrança parcelada, todas as parcelas
são geradas de uma só vez. Já no caso da assinatura, o Asaas gera uma cobrança a cada mês (ou conforme
a periodicidade selecionada) e envia para o cliente.

Outra diferença importante é no uso de cartão de crédito: no caso de parcelamento, o valor total da
soma de todas as parcelas é cobrado no cartão do cliente de uma só vez. No caso de assinaturas, é lançado
mensalmente (ou de acordo com a periodicidade selecionada) uma nova cobrança no cartão do cliente, até
que a assinatura seja removida ou o cartão sendo utilizado se torne inválido (no caso expiração, cancelamento, etc).

### Criar nova assinatura [POST]

Ao criar a assinatura a primeira mensalidade será gerada vencendo na data enviada no parâmetro `nextDueDate`.

+ Request (application/json)

    + Headers
        access_token: sua_api_key

    + Attributes (NewSubscription)

    + Body
            {
                "customer": "{CUSTOMER_ID}",
                "billingType": "BOLETO",
                "nextDueDate": "2017-05-15",
                "value": 19.90,
                "cycle": "MONTHLY",
                "description": "Assinatura Plano Pró",
                "discount": {
                    "value": 10.00,
                    "dueDateLimitDays": 0
                },
                "fine": {
                    "value": 1.00
                },
                "interest": {
                    "value": 2.00
                }
            }


+ Response 200 (application/json)

    + Attributes (Subscription)

    + Body

            {
                "object": "subscription",
                "id": "sub_VXJBYgP2u0eO",
                "dateCreated": "2017-03-17",
                "customer": "cus_0T1mdomVMi39",
                "paymentLink": null,
                "billingType": "BOLETO",
                "cycle": "MONTHLY",
                "value": 19.9,
                "nextDueDate": "2017-06-15",
                "description": "Assinatura Plano Pró",
                "status": "ACTIVE",
                "discount": {
                    "value": 10.00,
                    "dueDateLimitDays": 0
                },
                "fine": {
                    "value": 1.00
                },
                "interest": {
                    "value": 2.00
                },
                "deleted": false
            }

### Recuperar uma única assinatura [GET /subscriptions/{id}]

Para recuperar uma assinatura específica é necessário que você tenha o ID
que o Asaas retornou no momento da criação dela.

Para recuperar as cobranças de uma assinatura utilize [Listar cobranças de uma assinatura](#reference/0/assinaturas/listar-cobrancas-de-uma-assinatura)

+ Parameters
    + id - Identificador único da assinatura no Asaas

+ Request (application/json)

    + Headers
        access_token: sua_api_key


+ Response 200 (application/json)

    + Attributes (Subscription)

    + Body

            {
                "object": "subscription",
                "id": "sub_VXJBYgP2u0eO",
                "dateCreated": "2017-03-17",
                "customer": "cus_0T1mdomVMi39",
                "paymentLink": null,
                "billingType": "BOLETO",
                "cycle": "MONTHLY",
                "value": 19.9,
                "nextDueDate": "2017-06-15",
                "description": "Assinatura Plano Pró",
                "status": "ACTIVE",
                "discount": {
                    "value": 10.00,
                    "dueDateLimitDays": 0
                },
                "fine": {
                    "value": 1.00
                },
                "interest": {
                    "value": 2.00
                },
                "deleted": false
            }

### Listar assinaturas [GET /subscriptions{?customer,billingType,status,subscription,installment,offset,limit,includeDeleted,externalReference}]
Diferente da recuperação de uma assinatura específica, este método retorna
uma lista paginada com todas as assinaturas para os filtros informados.

Listar assinaturas de um cliente específico: `GET https://www.asaas.com/api/v3/subscriptions?customer={customer_id}`

Filtrar por forma de pagamento: `GET https://www.asaas.com/api/v3/subscriptions?billingType=CREDIT_CARD`

+ Parameters
    + customer (optional) - Filtrar pelo Identificador único do cliente
    + billingType (optional, enum) - Filtrar por forma de pagamento
    + offset (number, optional) - Elemento inicial da lista
    + limit (number, optional) - Número de elementos da lista (max: 100)
    + includeDeleted (boolean, optional) - True para recuperar também as assinaturas removidas
    + externalReference (optional) - Filtrar pelo Identificador do seu sistema

+ Request
    + Headers
        access_token: sua_api_key

+ Response 200 (application/json)


    + Body

        {
            "object": "list",
            "hasMore": false,
            "totalCount": 2,
            "limit": 10,
            "offset": 0,
            "data": [
                {
                    "object": "subscription",
                    "id": "sub_VXJBYgP2u0eO",
                    "dateCreated": "2017-03-17",
                    "customer": "cus_0T1mdomVMi39",
                    "paymentLink": "997152082166484",
                    "billingType": "BOLETO",
                    "cycle": "MONTHLY",
                    "value": 19.9,
                    "nextDueDate": "2017-06-13",
                    "description": "Assinatura Plano Pró",
                    "status": "ACTIVE",
                    "deleted": false
                },
                {
                    "object": "subscription",
                    "id": "sub_jkd83jhd7392j",
                    "dateCreated": "2017-03-17",
                    "customer": "cus_dk29dj327d0kde",
                    "paymentLink": null,
                    "billingType": "CREDIT_CARD",
                    "cycle": "MONTHLY",
                    "value": 15.9,
                    "nextDueDate": "2017-06-13",
                    "description": "Assinatura Plano Basic",
                    "status": "ACTIVE",
                    "deleted": false
                }
            ]
        }

### Listar cobranças de uma assinatura [GET /subscriptions/{id}/payments]

Para listar as cobranças geradas a partir de uma assinatura utilize esse endpoint.

+ Parameters
    + id - Identificador único da assinatura no Asaas

+ Request (application/json)

    + Headers
        access_token: sua_api_key

+ Response 200 (application/json)

    + Body

        {
            "object": "list",
            "hasMore": false,
            "totalCount": 2,
            "limit": 10,
            "offset": 0,
            "data": [
                {
                    "object": "payment",
                    "id": "pay_080225913252",
                    "dateCreated": "2017-03-10",
                    "customer": "cus_G7Dvo4iphUNk",
                    "paymentLink": null,
                    "value": 200.00,
                    "netValue": 195.00,
                    "originalValue": null,
                    "interestValue": null,
                    "description": null,
                    "billingType": "BOLETO",
                    "status": "PENDING",
                    "dueDate": "2017-03-16",
                    "originalDueDate": "2017-03-16",
                    "paymentDate": null,
                    "clientPaymentDate": null,
                    "invoiceUrl": "https://www.asaas.com/i/080225913252",
                    "invoiceNumber": "00005101",
                    "externalReference": null,
                    "deleted": false,
                    "bankSlipUrl": "https://www.asaas.com/b/pdf/080225913252",
                    "postalService": true,
                    "anticipated": false
                },
                {
                    "object": "payment",
                    "id": "pay_961122153955",
                    "dateCreated": "2017-03-08",
                    "customer": "cus_twmWzMzoTYoh",
                    "paymentLink": null,
                    "value": 50.00,
                    "netValue": 45.00,
                    "originalValue": null,
                    "interestValue": null,
                    "description": "Pedido 001387895",
                    "billingType": "CREDIT_CARD",
                    "status": "PENDING",
                    "dueDate": "2017-04-16",
                    "originalDueDate": "2017-04-30",
                    "paymentDate": null,
                    "clientPaymentDate": null,
                    "invoiceUrl": "https://www.asaas.com/i/961122153955",
                    "invoiceNumber": "00005100",
                    "externalReference": null,
                    "deleted": false,
                    "bankSlipUrl": "https://www.asaas.com/b/pdf/961122153955",
                    "postalService": false,
                    "anticipated": false
                }
            ]
        }

### Criar assinatura com cartão de crédito [POST]
Assim como na cobrança, os dados do cartão e do portador podem ser enviados na requisição de criação da
assinatura para que o pagamento já seja processado. A diferença é que no caso da cobrança o cartão
do cliente é cobrado no momento da criação da mesma, já no caso da assinatura, o cartão será validado no momento
da criação, porém a cobrança será feita somente no vencimento da primeira mensalidade. É importante ressaltar
que a validação feita no momento a criação não garante que cobrança ocorrerá com sucesso no vencimento,
pois neste meio-tempo o cartão pode ter sido cancelado, expirado, não ter limite, entre outros.

Para tal, ao executar a requisição de criação da assinatura, basta enviar os dados do cartão de crédito juntamente
com os dados do titular através dos objetos `creditCard` e `creditCardHolderInfo`. Se a transação for autorizada
a assinatura será criada e o Asaas retornará `HTTP 200`. Caso contrário a assinatura não será persistida
e será retornado `HTTP 400`.

Uma vez criada a assinatura com cartão de crédito, a cobrança será feita mensalmente (ou outra periodicidade definida)
no cartão do cliente até que ele se torne inválido ou você remova a assinatura.

> **Atenção:**
> - Caso você opte por capturar na interface do seu sistema os dados do cartão do cliente, é
obrigatório o uso de SSL (HTTPS), caso contrário sua conta pode ser bloqueada para transações via
cartão de crédito.
> - Para se evitar timeouts e decorrentemente duplicidades na captura, recomendamos a configuração de um timeout mínimo de 60 segundos para este request.

##### Tokenização de cartão de crédito
Para utilizar a tokenização de cartão de crédito na criação de assinaturas você deve seguir as mesmas instruções do [Criar cobrança com cartão de crédito](#tokenizacao-de-cartao-de-credito).

+ Request (application/json)

    + Headers
        access_token: sua_api_key

    + Attributes (NewSubscriptionWithCreditCard)

    + Body
            {
                "customer": "{CUSTOMER_ID}",
                "billingType": "CREDIT_CARD",
                "nextDueDate": "2017-05-15",
                "value": 19.90,
                "cycle": "MONTHLY",
                "description": "Assinatura Plano Pró",
                "creditCard": {
                    "holderName": "marcelo h almeida",
                    "number": "5162306219378829",
                    "expiryMonth": "05",
                    "expiryYear": "2021",
                    "ccv": "318"
                },
                "creditCardHolderInfo": {
                    "name": "Marcelo Henrique Almeida",
                    "email": "marcelo.almeida@gmail.com",
                    "cpfCnpj": "24971563792",
                    "postalCode": "89223-005",
                    "addressNumber": "277",
                    "addressComplement": null,
                    "phone": "4738010919",
                    "mobilePhone": "47998781877"
                },
                "creditCardToken": "a75a1d98-c52d-4a6b-a413-71e00b193c99"
            }



+ Response 200 (application/json)

    + Attributes (SubscriptionWithCreditCard)

    + Body
            {
                "object": "subscription",
                "id": "sub_VXJBYgP2u0eO",
                "dateCreated": "2017-03-13",
                "customer": "cus_0T1mdomVMi39",
                "paymentLink": null,
                "billingType": "CREDIT_CARD",
                "cycle": "MONTHLY",
                "value": 19.9,
                "nextDueDate": "2017-06-15",
                "description": "Assinatura Plano Pró",
                "status": "ACTIVE",
                "deleted": false,
                "creditCard": {
                    "creditCardNumber": "8829",
                    "creditCardBrand": "MASTERCARD",
                    "creditCardToken": "a75a1d98-c52d-4a6b-a413-71e00b193c99"
                }
            }


### Atualizar assinatura existente [POST /subscriptions/{id}]

Ao atualizar uma assinatura, o parâmetro `nextDueDate` serve para indicar o vencimento da próxima mensalidade
**a ser gerada**, ou seja, não atualiza o vencimento da mensalidade já gerada.

Além disso, ao atualizar o valor da assinatura ou forma de pagamento somente serão afetadas mensalidade futuras.
Para atualizar as mensalidades já existentes com a nova forma de pagamento e/ou novo valor, é necessário passar
o parâmetro `updatePendingPayments: true`.

+ Parameters
    + id (required) ... Identificador único da assinatura a ser atualizada.

+ Request (application/json)

    + Headers
        access_token: sua_api_key

    + Attributes (UpdateSubscription)

    + Body
            {
                "billingType": "BOLETO",
                "nextDueDate": "2017-06-15",
                "value": 29.90,
                "cycle": "MONTHLY",
                "description": "Assinatura Plano Pró",
                "updatePendingPayments": true,
                "discount": {
                    "value": 10.00,
                    "dueDateLimitDays": 0
                },
                "fine": {
                    "value": 1.00
                },
                "interest": {
                    "value": 2.00
                }
            }


+ Response 200 (application/json)

    + Attributes (Subscription)

    + Body

            {
                "object": "subscription",
                "id": "sub_VXJBYgP2u0eO",
                "dateCreated": "2017-03-17",
                "customer": "cus_0T1mdomVMi39",
                "paymentLink": null,
                "billingType": "BOLETO",
                "cycle": "MONTHLY",
                "value": 29.9,
                "nextDueDate": "2017-06-15",
                "description": "Assinatura Plano Pró",
                "status": "ACTIVE",
                "discount": {
                    "value": 10.00,
                    "dueDateLimitDays": 0
                },
                "fine": {
                    "value": 1.00
                },
                "interest": {
                    "value": 2.00
                },
                "deleted": false
            }

### Remover assinatura [DELETE /subscriptions/{id}]

Ao remover uma assinatura, as mensalidades aguardando pagamento ou vencidas também são removidas.

+ Parameters
    + id (required) ... Identificador único do assinatura a ser removida.

+ Request (application/json)

    + Headers
        access_token: sua_api_key


+ Response 200 (application/json)


    + Body

            {
                "deleted": true,
                "id": "sub_VXJBYgP2u0eO"
            }

### Listar notas fiscais das cobranças de uma assinatura [GET /subscriptions/{id}/invoices{?status,offset,limit}]

Este método retorna uma lista paginada com todas as notas fiscais geradas a partir de cobranças da assinatura informada.

É possível também filtrar o status e período de emissão das notas fiscais, como já apresentado
na [listagem notas fiscais](https://asaasv3.docs.apiary.io/#reference/0/notas-fiscais/listar-notas-fiscais)

+ Parameters
    + id (number, required) - Identificador único do assinatura
    + offset (number, optional) - Elemento inicial da lista
    + limit (number, optional) - Número de elementos da lista (max: 100)
    + status (optional) - Status da nota fiscal

+ Request
    + Headers
        access_token: sua_api_key

+ Response 200 (application/json)

    + Body
        {
            "object": "list",
            "hasMore": true,
            "totalCount": 213,
            "limit": 10,
            "offset": 0,
            "data": [
                {
                    "object": "invoice",
                    "id": "inv_000000000232",
                    "status": "SCHEDULED",
                    "customer": "cus_000000002750",
                    "type": "NFS-e",
                    "statusDescription": null,
                    "serviceDescription": "Nota fiscal da Fatura 101940. \nDescrição dos Serviços: ANÁLISE E DESENVOLVIMENTO DE SISTEMAS",
                    "pdfUrl": null,
                    "xmlUrl": null,
                    "rpsSerie": null,
                    "rpsNumber": null,
                    "number": null,
                    "validationCode": null,
                    "value": 300,
                    "deductions": 10,
                    "effectiveDate": "2018-07-03",
                    "observations": "Mensal referente aos trabalhos de Junho.",
                    "estimatedTaxesDescription": "",
                    "payment": "pay_145059895800",
                    "installment": null,
                    "externalReference": null,
                    "taxes": {
                        "retainIss": false,
                        "iss": 3,
                        "cofins": 3,
                        "csll": 1,
                        "inss": 0,
                        "ir": 1.5,
                        "pis": 0.65
                    },
                    "municipalServiceCode": "1.01",
                    "municipalServiceName": "Análise e desenvolvimento de sistemas"
                },
                {
                    "object": "invoice",
                    "id": "inv_000000000278",
                    "status": "CANCELED",
                    "customer": "cus_000000002758",
                    "type": "NFS-e",
                    "statusDescription": null,
                    "serviceDescription": "teste para descrição de serviço",
                    "pdfUrl": null,
                    "xmlUrl": null,
                    "rpsSerie": null,
                    "rpsNumber": null,
                    "number": null,
                    "validationCode": null,
                    "value": 21,
                    "deductions": 10,
                    "effectiveDate": "2018-06-25",
                    "observations": "nota fiscal de teste",
                    "estimatedTaxesDescription": "",
                    "payment": "pay_637959110194",
                    "installment": null,
                    "externalReference": null,
                    "taxes": {
                        "retainIss": false,
                        "iss": 0,
                        "cofins": 1,
                        "csll": 0,
                        "inss": 1,
                        "ir": 0,
                        "pis": 0
                    },
                    "municipalServiceCode": "1.01",
                    "municipalServiceName": "Análise e desenvolvimento de sistemas"
                }
            ]
        }

### Criar configuração para emissão de Notas Fiscais [POST /subscriptions/{id}/invoiceSettings]

Ao criar uma configuração, o Asaas irá gerar automaticamente as notas fiscais para as cobranças desta assinatura utilizando com base os valores definidos nesta configuração.
As notas serão geradas em conjunto com a criação das cobranças, tendo suas datas de emissão definidas a partir do valor enviado pelo parâmetro `effectiveDatePeriod`.
Caso a assinatura já possua cobranças, apenas serão geradas notas fiscais para as cobranças que se encaixam na configuração definida.

Os períodos de emissão disponíveis são:

`ON_PAYMENT_CONFIRMATION` - Emissão apenas quando cada cobrança for paga.

`ON_PAYMENT_DUE_DATE` - No dia do vencimento de cada cobrança.

`BEFORE_PAYMENT_DUE_DATE` - 5, 10, 15, 30 ou 60 dias antes do vencimento.

`ON_DUE_DATE_MONTH` - No 1º dia do mesmo mês do vencimento de cada cobrança.

`ON_NEXT_MONTH` - No 1º dia do mês seguinte ao mês do vencimento de cada cobrança.

Você pode informar o serviço municipal desejado enviando o identificador único do serviço do seu município por meio do atributo `municipalServiceId`, este pode ser obtido por meio da nossa [seção de serviços municipais](#reference/0/notas-fiscais/listar-servicos-municipais).
Caso a lista de serviços não seja disponibilizada, você deve obtêr o código do serviço municipal desejado manualmente junto a sua prefeitura e envia-lo por meio do atributo `municipalServiceCode`.

> **Atenção:**
> - Caso seja selecionado o período `BEFORE_PAYMENT_DUE_DATE`, também deve ser enviado o parâmetro `daysBeforeDueDate`, que determina quantos dias antes do vencimento será gerado a nota fiscal.
> - Os valores validos para o parâmetro `daysBeforeDueDate` são os inteiros: 5, 10, 15, 30 ou 60.
> - O parâmetro `receivedOnly` é necessário apenas quando utilizado o período `ON_NEXT_MONTH`, caso não enviado será definido como valor padrão `false`.

+ Request (application/json)

    + Headers
        access_token: sua_api_key

    + Attributes (NewSubscriptionInvoiceSettings)

    + Body
        {
            "municipalServiceId": null,
            "municipalServiceCode": "1.01",
            "municipalServiceName": "Análise e desenvolvimento de sistemas",
            "deductions": 55,
            "taxes": {
                "retainIss": true,
                "iss": 1,
                "cofins": 1,
                "csll": 1,
                "inss": 1,
                "ir": 1,
                "pis": 1
            },
            "effectiveDatePeriod": "ON_PAYMENT_CONFIRMATION",
            "daysBeforeDueDate": null,
            "receivedOnly": null,
            "observations": "Referente aos trabalhos de Junho"
        }

+ Response 200 (application/json)

    + Body
        {
            "municipalServiceId": null,
            "municipalServiceCode": "1.01",
            "municipalServiceName": "Análise e desenvolvimento de sistemas",
            "deductions": 55,
            "invoiceCreationPeriod": "ON_PAYMENT_CONFIRMATION",
            "daysBeforeDueDate": null,
            "receivedOnly": null,
            "observations": "Referente aos trabalhos de Junho",
            "taxes": {
                "retainIss": true,
                "cofins": 1,
                "csll": 1,
                "inss": 1,
                "ir": 1,
                "pis": 1,
                "iss": 1
            }
        }

### Atualizar configuração para emissão de Notas Fiscais [POST /subscriptions/{id}/invoiceSettings]

A nova configuração apenas será aplicada nas notas fiscais das próximas cobranças da assinatura, ou as que ainda não possuem uma nota fiscal criada.

+ Request (application/json)

    + Headers
        access_token: sua_api_key

    + Attributes (UpdateSubscriptionInvoiceSettings)

    + Body
        {
            "deductions": 15,
            "taxes": {
                "retainIss": false,
                "iss": 3,
                "cofins": 1.5,
                "csll": 1,
                "inss": 1,
                "ir": 1,
                "pis": 1
            },
            "effectiveDatePeriod": "ON_PAYMENT_CONFIRMATION",
            "daysBeforeDueDate": null,
            "receivedOnly": null,
            "observations": "Referente aos trabalhos de Março"
        }

+ Response 200 (application/json)

    + Body
        {
            "municipalServiceCode": "1.01",
            "municipalServiceName": "Análise e desenvolvimento de sistemas",
            "deductions": 15,
            "invoiceCreationPeriod": "ON_PAYMENT_CONFIRMATION",
            "daysBeforeDueDate": null,
            "receivedOnly": null,
            "observations": "Referente aos trabalhos de Março",
            "taxes": {
                "retainIss": false,
                "cofins": 1.5,
                "csll": 1,
                "inss": 1,
                "ir": 1,
                "pis": 1,
                "iss": 3
            }
        }

### Recuperar configuração para emissão de Notas Fiscais [GET /subscriptions/{id}/invoiceSettings]

Para recuperar a configuração de emissão de notas fiscais de uma assinatura é necessário
que você tenha criada ela anteriormente e possua o ID da assinatura que o Asaas retornou no momento da criação dela.

+ Parameters
    + id (required) - Identificador único da assinatura no Asaas

+ Request (application/json)

    + Headers
        access_token: sua_api_key

+ Response 200 (application/json)

    + Attributes (UpdateSubscriptionInvoiceSettings)

    + Body
        {
            "municipalServiceCode": "1.01",
            "municipalServiceName": "Análise e desenvolvimento de sistemas",
            "deductions": 15,
            "invoiceCreationPeriod": "ON_PAYMENT_CONFIRMATION",
            "daysBeforeDueDate": null,
            "receivedOnly": null,
            "observations": "Referente aos trabalhos de Março",
            "taxes": {
                "retainIss": false,
                "cofins": 1.5,
                "csll": 1,
                "inss": 1,
                "ir": 1,
                "pis": 1,
                "iss": 1
            }
        }

### Remover configuração para emissão de Notas Fiscais [DELETE /subscriptions/{id}/invoiceSettings]

Ao remover a configuração, todas as notas fiscais **agendadas** para as cobranças desta assinatura serão **canceladas**
e sua geração automática será interrompida.

+ Parameters
    + id (required) ... Identificador único do assinatura.

+ Request (application/json)

    + Headers
        access_token: sua_api_key


+ Response 200 (application/json)

    + Attributes
        + deleted (boolean) - Se a remoção foi realizada
        + id - ID da assinatura que a configuração foi removida.

    + Body

            {
                "deleted": true,
                "id": "sub_VXJBYgP2u0eO"
            }

## Link de pagamentos [/paymentLinks]

Permite a manipulação de link de pagamentos da sua conta Asaas.

### Criar um link de pagamentos [POST]

Caso o seu cliente possa pagar via boleto bancário, será necessário informar o campo ``dueDateLimitDays``, que determina a quantidade de dias úteis para a realização do pagamento após a geração do boleto.

Se a forma de cobrança for Parcelamento, informe o campo ``maxInstallmentCount`` para determinar o limite máximo de parcelas que seu cliente poderá escolher para realizar o pagamento parcelado.

Já se a forma de cobrança ser Assinatura, será necessário o envio do campo ``subscriptionCycle`` para determinar a periodicidade da geração das cobranças.

Você poderá adicionar imagens ao seu link de pagamentos por meio [deste endpoint](#reference/0/link-de-pagamentos/adicionar-uma-imagem-a-um-link-de-pagamentos)

+ Request (application/json)

    + Headers
        access_token: sua_api_key

    + Attributes (NewPaymentLink)

    + Body
        {
            "name": "Venda de livros",
            "description": "Qualquer livro por apenas R$: 50,00",
            "endDate": "2021-02-05",
            "value": 50,
            "billingType": "UNDEFINED",
            "chargeType": "DETACHED",
            "dueDateLimitDays": 10,
            "subscriptionCycle": null,
            "maxInstallmentCount": 1,
            "notificationEnabled": true
        }

+ Response 200 (application/json)

    + Body
        {
            "id": "291089675759",
            "name": "Venda de livros",
            "value": 50,
            "active": true,
            "chargeType": "DETACHED",
            "url": "https://www.asaas.com/c/291089675759",
            "billingType": "UNDEFINED",
            "subscriptionCycle": null,
            "description": "Qualquer livro por apenas R$: 50,00",
            "endDate": "2021-02-05",
            "deleted": false,
            "viewCount": 0,
            "maxInstallmentCount": 1,
            "dueDateLimitDays": 10,
            "notificationEnabled": true
        }

### Atualizar um link de pagamentos [PUT /paymentLinks/{id}]

Permite a atualização de um link de pagamentos já existente.

+ Parameters
    + id (required) ... Identificador único do link de pagamento a ser atualizado.

+ Request (application/json)

    + Headers
        access_token: sua_api_key

    + Attributes (UpdatePaymentLink)

    + Body
        {
            "name": "Venda de livros digitais",
            "description": "Qualquer livro por apenas R$: 20,00",
            "endDate": "2022-05-05",
            "value": 20,
            "active": true,
            "billingType": "CREDIT_CARD",
            "chargeType": "INSTALLMENT",
            "dueDateLimitDays": 0,
            "subscriptionCycle": null,
            "maxInstallmentCount": 5,
            "notificationEnabled": false
        }

+ Response 200 (application/json)

    + Body
        {
            "id": "291089675759",
            "name": "Venda de livros digitais",
            "value": 20,
            "active": true,
            "chargeType": "INSTALLMENT",
            "url": "https://www.asaas.com/c/291089675759",
            "billingType": "CREDIT_CARD",
            "subscriptionCycle": null,
            "description": "Qualquer livro por apenas R$: 20,00",
            "endDate": "2021-02-05",
            "deleted": false,
            "viewCount": 0,
            "maxInstallmentCount": 5,
            "dueDateLimitDays": 0,
            "notificationEnabled": false
        }

### Recuperar um único link de pagamentos [GET /paymentLinks/{id}]

Para recuperar um link de pagamentos específico é necessário que você tenha o ID que o Asaas retornou no momento da sua criação.

+ Parameters
    + id - Identificador único do link de pagamentos no Asaas

+ Request (application/json)

    + Headers
        access_token: sua_api_key

+ Response 200 (application/json)

    + Attributes (PaymentLink)

    + Body
            {
                "id": "725104409743",
                "name": "Venda de livros",
                "value": 50,
                "active": true,
                "chargeType": "DETACHED",
                "url": "https://www.asaas.com/c/725104409743",
                "billingType": "CREDIT_CARD",
                "subscriptionCycle": null,
                "description": "Qualquer livro por apenas R$: 50,00",
                "endDate": "2021-02-05",
                "deleted": false,
                "viewCount": 0,
                "maxInstallmentCount": 1,
                "dueDateLimitDays": 0,
                "notificationEnabled": false
            }

### Listar link de pagamentos [GET /paymentLinks{?active,includeDeleted,name,offset,limit}]
Diferente da recuperação de um link de pagamentos específico, este método retorna uma lista paginada com todos os link de pagamentos para os filtros informados.

+ Parameters
    + active (boolean, optional) - Filtrar por link de pagamentos ativos ou desativados
    + includeDeleted (boolean, optional) - True para recuperar também os link de pagamento removidos
    + name (optional) - Filtrar pelo nome do link de pagamento
    + offset (number, optional) - Elemento inicial da lista
    + limit (number, optional) - Número de elementos da lista (max: 100)

+ Request
    + Headers
        access_token: sua_api_key

+ Response 200 (application/json)

    + Body

        {
            "object": "list",
            "hasMore": false,
            "totalCount": 1,
            "limit": 10,
            "offset": 0,
            "data": [
                {
                    "id": "725104409743",
                    "name": "Venda de livros",
                    "value": 50.00,
                    "active": true,
                    "chargeType": "DETACHED",
                    "url": "https://www.asaas.com/c/725104409743",
                    "billingType": "CREDIT_CARD",
                    "subscriptionCycle": null,
                    "description": "Qualquer livro por apenas R$: 50,00",
                    "endDate": "2021-02-05",
                    "deleted": false,
                    "viewCount": 0,
                    "maxInstallmentCount": 1,
                    "dueDateLimitDays": 0,
                    "notificationEnabled": false
                }
            ]
        }

### Remover um link de pagamentos [DELETE /paymentLinks/{id}]

Possibilita a remoção de um link de pagamentos.

+ Parameters
    + id (required) ... Identificador único do link de pagamentos a ser removido.

+ Request (application/json)

    + Headers
        access_token: sua_api_key

+ Response 200 (application/json)

    + Body

            {
                "deleted": true,
                "id": "725104409743"
            }

### Restaurar um link de pagamentos [POST /paymentLinks/{id}/restore]

Possibilita a restauração de um link de pagamentos removido.

+ Parameters
    + id (required) ... Identificador único do link de pagamentos a ser restaurado.

+ Request (application/json)

    + Headers
        access_token: sua_api_key

+ Response 200 (application/json)

    + Body
        {
            "id": "725104409743",
            "name": "Venda de livros",
            "value": 50,
            "active": true,
            "chargeType": "DETACHED",
            "url": "https://www.asaas.com/c/725104409743",
            "billingType": "CREDIT_CARD",
            "subscriptionCycle": null,
            "description": "Qualquer livro por apenas R$: 50,00",
            "endDate": "2021-02-05",
            "deleted": false,
            "viewCount": 0,
            "maxInstallmentCount": 1,
            "dueDateLimitDays": 0,
            "notificationEnabled": false
        }

### Adicionar uma imagem a um link de pagamentos [POST /paymentLinks/{id}/images]

Permite adicionar imagens ao seu link de pagamentos.

> **Atenção:**
> - Cada link de pagamentos suporta até no máximo 5 imagens.
> - O envio da imagem é feito por meio do ContentType multipart/form-data.

+ Request (multipart/form-data)

    + Headers
        access_token: sua_api_key

    + Body
        main: true
        image: <file>

+ Response 200 (application/json)

    + Body
        {
            "id": "417d1fe7-f530-4368-935f-699045f2bf5d",
            "main": true,
            "image": {
                "originalName": "CodigoDaVinciCover.png",
                "size": 50859,
                "extension": "png",
                "previewUrl": "https://www.asaas.com/file/preview/XtW5OjqOBy3sskIcEMPj6yhr7T3aCLnSWEbIJd08gMNf3Rk7r5buwAXQ9xC2TNmg",
                "downloadUrl": "https://www.asaas.com/file/public/download/XtW5OjqOBy3sskIcEMPj6yhr7T3aCLnSWEbIJd08gMNf3Rk7r5buwAXQ9xC2TNmg"
            }
        }

### Recuperar uma única imagem do link de pagamentos [GET /paymentLinks/{paymentLinkId}/images/{imageId}]

Para recuperar a imagem de um link de pagamentos específico é necessário que você tenha o ID que o Asaas retornou no momento da criação dele.

+ Parameters
    + paymentLinkId - Identificador único do link de pagamentos no Asaas
    + imageId - Identificador único da imagem do link de pagamentos no Asaas

+ Request (application/json)

    + Headers
        access_token: sua_api_key

+ Response 200 (application/json)

    + Attributes (PaymentLinkImage)

    + Body
            {
                "id": "417d1fe7-f530-4368-935f-699045f2bf5d",
                "main": true,
                "image": {
                    "originalName": "CodigoDaVinciCover.png",
                    "size": 50859,
                    "extension": "png",
                    "previewUrl": "https://www.asaas.com/file/preview/XtW5OjqOBy3sskIcEMPj6yhr7T3aCLnSWEbIJd08gMNf3Rk7r5buwAXQ9xC2TNmg",
                    "downloadUrl": "https://www.asaas.com/file/public/download/XtW5OjqOBy3sskIcEMPj6yhr7T3aCLnSWEbIJd08gMNf3Rk7r5buwAXQ9xC2TNmg"
                }
            }

### Listar imagens de um link de pagamentos [GET /paymentLinks/{id}/images]

Este método retorna uma lista paginada com todas as imagens do link de pagamentos informado.

+ Request
    + Headers
        access_token: sua_api_key

+ Response 200 (application/json)

    + Body

        {
            "object": "list",
            "hasMore": false,
            "totalCount": 1,
            "limit": 10,
            "offset": 0,
            "data": [
                {
                    "id": "417d1fe7-f530-4368-935f-699045f2bf5d",
                    "main": true,
                    "image": {
                        "originalName": "CodigoDaVinciCover.png",
                        "size": 50859,
                        "extension": "png",
                        "previewUrl": "https://www.asaas.com/file/preview/XtW5OjqOBy3sskIcEMPj6yhr7T3aCLnSWEbIJd08gMNf3Rk7r5buwAXQ9xC2TNmg",
                        "downloadUrl": "https://www.asaas.com/file/public/download/XtW5OjqOBy3sskIcEMPj6yhr7T3aCLnSWEbIJd08gMNf3Rk7r5buwAXQ9xC2TNmg"
                    }
                }
            ]
        }

### Remover uma imagem do link de pagamentos [DELETE /paymentLinks/{id}/images]

Permite a remoção de uma imagem do link de pagamentos.

+ Parameters
    + id (required) ... Identificador único da imagem do link de pagamentos a ser removido.

+ Request (application/json)

    + Headers
        access_token: sua_api_key

+ Response 200 (application/json)

    + Body

            {
                "deleted": true,
                "id": "417d1fe7-f530-4368-935f-699045f2bf5d"
            }

### Definir imagem principal do link de pagamentos [POST /paymentLinks/{paymentLinkId}/images/{imageId}/setAsMain]

Permite a alteração da imagem principal do seu link de pagamentos.

+ Parameters
    + paymentLinkId - Identificador único do link de pagamentos no Asaas
    + imageId - Identificador único da imagem do link de pagamentos no Asaas

+ Request (application/json)

    + Headers
        access_token: sua_api_key

+ Response 200 (application/json)

    + Body
            {
                "id": "417d1fe7-f530-4368-935f-699045f2bf5d",
                "main": true,
                "image": {
                    "originalName": "CodigoDaVinciCover.png",
                    "size": 50859,
                    "extension": "png",
                    "previewUrl": "https://www.asaas.com/file/preview/XtW5OjqOBy3sskIcEMPj6yhr7T3aCLnSWEbIJd08gMNf3Rk7r5buwAXQ9xC2TNmg",
                    "downloadUrl": "https://www.asaas.com/file/public/download/XtW5OjqOBy3sskIcEMPj6yhr7T3aCLnSWEbIJd08gMNf3Rk7r5buwAXQ9xC2TNmg"
                }
            }


## Notificações [/notifications]

As notificações são a maneira que o Asaas utiliza para manter você e seu cliente atualizados sobre a
situação das cobranças, notificar recebimento, atraso, modificações, etc. É possível desabilitar todas
as notificações para um determinado cliente utilizando o atributo `notificationDisabled`.

Por padrão, o Asaas cria 7 notificações ao cadastrar um novo cliente, são elas:

#### Aviso de cobrança recebida:

Esta notificação é enviada no momento em que o Asaas registra o recebimento de uma cobrança.

```
    {
        "object": "notification",
        "id": "not_f8JpoWuEjEKd",
        "customer": "cus_Y4AEif5zrMGK",
        "enabled": true,
        "emailEnabledForProvider": true,
        "smsEnabledForProvider": false,
        "emailEnabledForCustomer": true,
        "smsEnabledForCustomer": true,
        "phoneCallEnabledForCustomer": false,
        "event": "PAYMENT_RECEIVED",
        "scheduleOffset": 0,
        "deleted": false
    }
```

#### Aviso de cobrança vencida:

Esta notificação é enviada no momento em que o Asaas identifica que a cobrança venceu e não foi paga. Para notificações por voz (```phoneCallEnabledForCustomer: true```) cobramos uma taxa de R$ 0,55, e é necessário que o cliente possua um telefone fixo ou móvel cadastrado para ativar esse serviço.

```
    {
        "object": "notification",
        "id": "not_2DMytOpRKux1",
        "customer": "cus_Y4AEif5zrMGK",
        "enabled": true,
        "emailEnabledForProvider": true,
        "smsEnabledForProvider": false,
        "emailEnabledForCustomer": true,
        "smsEnabledForCustomer": true,
        "phoneCallEnabledForCustomer": true,
        "event": "PAYMENT_OVERDUE",
        "scheduleOffset": 0,
        "deleted": false
    }
```

#### Aviso a cada 7 dias após vencimento:

É enviada a cada 7 dias enquanto a cobrança não for paga. Repare que o `scheduleOffset` desta notificação é 7, enquanto
a anterior é 0. Para notificações por voz (```phoneCallEnabledForCustomer: true```) cobramos uma taxa de R$ 0,55 por ligação, e é necessário que o cliente possua um telefone fixo ou móvel cadastrado para ativar esse serviço.

```
    {
        "object": "notification",
        "id": "not_EDaloT543tss",
        "customer": "cus_Y4AEif5zrMGK",
        "enabled": true,
        "emailEnabledForProvider": false,
        "smsEnabledForProvider": false,
        "emailEnabledForCustomer": true,
        "smsEnabledForCustomer": true,
        "phoneCallEnabledForCustomer": true,
        "event": "PAYMENT_OVERDUE",
        "scheduleOffset": 7,
        "deleted": false
    }
```

#### Aviso 10 dias antes do vencimento:

Esta notificação é enviada 10 dias antes da data de vencimento da cobrança.

```
    {
        "object": "notification",
        "id": "not_uf8KkANRwUgh",
        "customer": "cus_Y4AEif5zrMGK",
        "enabled": true,
        "emailEnabledForProvider": false,
        "smsEnabledForProvider": false,
        "emailEnabledForCustomer": true,
        "smsEnabledForCustomer": true,
        "phoneCallEnabledForCustomer": false,
        "event": "PAYMENT_DUEDATE_WARNING",
        "scheduleOffset": 10,
        "deleted": false
    }
```

#### Aviso no dia do vencimento:

Esta notificação é enviada na data em que a cobrança vence.

```
    {
        "object": "notification",
        "id": "not_1igKsZL9xpsl",
        "customer": "cus_Y4AEif5zrMGK",
        "enabled": true,
        "emailEnabledForProvider": false,
        "smsEnabledForProvider": false,
        "emailEnabledForCustomer": true,
        "smsEnabledForCustomer": true,
        "phoneCallEnabledForCustomer": false,
        "event": "PAYMENT_DUEDATE_WARNING",
        "scheduleOffset": 0,
        "deleted": false
    }
```

#### Aviso de cobrança criada:

Esta notificação é enviada no momento em que a cobrança é criada, exceto para mensalidades geradas automaticamente.

```
    {
        "object": "notification",
        "id": "not_NhHT6M5yUe0C",
        "customer": "cus_Y4AEif5zrMGK",
        "enabled": true,
        "emailEnabledForProvider": false,
        "smsEnabledForProvider": false,
        "emailEnabledForCustomer": true,
        "smsEnabledForCustomer": true,
        "phoneCallEnabledForCustomer": false,
        "event": "PAYMENT_CREATED",
        "scheduleOffset": 0,
        "deleted": false
    }
```

#### Aviso de cobrança atualizada:

Esta notificação é enviada sempre que alguma cobrança sofre alteração na data de vencimento ou valor.

```
    {
        "object": "notification",
        "id": "not_0YmiEVhOUsyJ",
        "customer": "cus_Y4AEif5zrMGK",
        "enabled": true,
        "emailEnabledForProvider": false,
        "smsEnabledForProvider": false,
        "emailEnabledForCustomer": true,
        "smsEnabledForCustomer": true,
        "phoneCallEnabledForCustomer": false,
        "event": "PAYMENT_UPDATED",
        "scheduleOffset": 0,
        "deleted": false
    }
```

#### Linha digitável no dia do vencimento:

Esta notificação é enviada na data de vencimento da cobrança caso a fatura ou boleto não tenham sido visualizados
pelo seu cliente.

```
    {
        "object": "notification",
        "id": "not_AWAz6FbrgCPG",
        "customer": "cus_Y4AEif5zrMGK",
        "enabled": true,
        "emailEnabledForProvider": false,
        "smsEnabledForProvider": false,
        "emailEnabledForCustomer": true,
        "smsEnabledForCustomer": true,
        "phoneCallEnabledForCustomer": false,
        "event": "SEND_LINHA_DIGITAVEL",
        "scheduleOffset": 0,
        "deleted": false
    }
```

Para recuperar todas as notificações de um cliente específico utilize:
`GET https://www.asaas.com/api/v3/customers/{customer_id}/notifications`

### Atualizar notificação existente [POST /notifications/{id}]

É possível personalizar qual canal de comunicação utilizar (Email, SMS e voz)
e quem deve receber a notificação (você e/ou seu cliente) utilizando estes atributos:

- enabled: habilita/desabilita a notificação
- emailEnabledForProvider: habilita/desabilita o email enviado para você
- smsEnabledForProvider: habilita/desabilita o SMS enviado para você
- emailEnabledForCustomer: habilita/desabilita o email enviado para o seu cliente
- smsEnabledForCustomer: habilita/desabilita o SMS enviado para o seu cliente
- phoneCallEnabledForCustomer: habilita/desabilita a notificação por voz enviado para o seu cliente

+ Parameters
    + id (required) ... Identificador único da notificação a ser atualizada.

+ Request (application/json)

    + Headers
        access_token: sua_api_key

    + Attributes (UpdateNotification)

    + Body
            {
                "enabled": true,
                "emailEnabledForProvider": true,
                "smsEnabledForProvider": true,
                "emailEnabledForCustomer": true,
                "smsEnabledForCustomer": true,
                "phoneCallEnabledForCustomer": false
            }

+ Response 200 (application/json)

    + Attributes

    + Body

            {
                "object": "notification",
                "id": "not_f8JpoWuEjEKd",
                "customer": "cus_Y4AEif5zrMGK",
                "enabled": true,
                "emailEnabledForProvider": true,
                "smsEnabledForProvider": true,
                "emailEnabledForCustomer": true,
                "smsEnabledForCustomer": true,
                "phoneCallEnabledForCustomer": false,
                "event": "PAYMENT_RECEIVED",
                "scheduleOffset": 0,
                "deleted": false
            }


## Transferências [/transfers]

Possibilita transferir valores entre contas Asaas ou contas bancárias de outros bancos.

Não é possível transferir valor superior ao saldo da conta Asaas de origem.

O saldo disponível para transferência pode ser consultado com a seguinte requisição:
`GET https://www.asaas.com/api/v3/finance/getCurrentBalance`

A resposta será a seguinte:
```
{
    "totalBalance": 5000.00
}
```

Existem dois tipos de transferências:

`ASAAS_ACCOUNT` - Transferência entre contas Asaas

`BANK_ACCOUNT` - Transferência para conta bancária


### Transferir para conta bancária [POST]

Solicita uma nova transferência para a conta bancária informada.

Após a solicitação a transferência fica pendente até o processamento bancário, que pode ocorrer no mesmo dia ou no próximo dia útil
dependendo do horário da solicitação.


+ Request (application/json)

    + Headers
        access_token: sua_api_key

    + Attributes (NewTransfer)

    + Body
            {
                "value": 1000.00,
                "bankAccount": {
                    "bank": {
                        "code": "237"
                    },
                    "accountName": "Conta do Bradesco",
                    "ownerName": "Marcelo Almeida",
                    "ownerBirthDate": "1995-04-12",
                    "cpfCnpj": "52233424611",
                    "agency": "1263",
                    "account": "9999991",
                    "accountDigit": "1",
                    "bankAccountType": "CONTA_CORRENTE",
                }
            }

+ Response 200 (application/json)

    + Attributes (Transfer)

    + Body

        {
            "object": "transfer",
            "id": "777eb7c8-b1a2-4356-8fd8-a1b0644b5282",
            "type": "BANK_ACCOUNT",
            "dateCreated": "2018-01-24",
            "value": 1000,
            "netValue": 1000,
            "status": "PENDING",
            "transferFee": 0,
            "effectiveDate": null,
            "scheduleDate": "2018-01-26",
            "authorized": true,
            "failReason": null,
            "bankAccount": {
                "bank": {
                    "code": "237",
                    "name": "Bradesco"
                },
                "accountName": "Conta do Bradesco",
                "ownerName": "Marcelo Almeida",
                "cpfCnpj": "52233424611",
                "agency": "1263",
                "account": "9999991",
                "accountDigit": "1"
            },
            "transactionReceiptUrl": null
        }

### Transferir para conta Asaas [POST]

Solicita uma nova transferência para uma conta Asaas. É necessário o walletId da conta Asaas de destino retornado no momento da criação da mesma.

Em geral as transferências entre contas Asaas são efetivadas imediatamente, ficando o saldo disponível para uso na conta de destino.

O walletId é retornado na resposta de criação de uma conta Asaas. Caso você não o tenha, é possível recuperá-lo
fazendo a seguinte chamada utilizando a API Key da conta de destino:
`GET https://www.asaas.com/api/v3/wallets`

A resposta será a seguinte:
```
{
    "object": "list",
    "hasMore": false,
    "totalCount": 1,
    "limit": 10,
    "offset": 0,
    "data": [
        {
            "object": "wallet",
            "id": "0000c712-0a0b-a0b0-0000-031e7ac51a2e"
        }
    ]
}
```



+ Request (application/json)

    + Headers
[...]
